<div id="eventsView">
    <div data-bind="kendoWindow: {
                    isOpen: historyVisible,
                    draggable: true,
                    title: 'Event history (Local storage)',
                    height: winHeight,
                    width: winWidth,
                    widget: widget,
                    resizable: true,
                    visible: historyVisible,
                    actions: ['Close', 'Minimize', 'Maximize'],
                    modal: false}">
        <div data-bind="kendoListView: { data: events,
                                    template: 'listTmpl',
                                    useKOTemplates: true }">
        </div>
    </div>


    <div style="padding: 3px; bottom:2px; right:2px; position: absolute;">
        <button data-bind="click: clearHistory">Clear history</button>
    </div>

</div>

<script id="listTmpl" type="text/html">
    <div style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ffebaf">
        <b>Ticket: </b>
        <span data-bind="text: id"></span></b>
        (<span data-bind="text: name"></span>)
    </div>
</script>