.label {
    margin-right: 2px;
    display: inline-block;
    min-width: 75;
    background-color: lavenderblush;
    width: 200px;
    text-align: right;
}

.sliderContainer .k-slider-horizontal {
    display: inline-block;
    float: left;
    width: 250px;
    height: 26px;
    margin-right: 50px;
}

.k-grid td {
    padding: .1em .1em
}